* {
    font-family: "Inter", sans-serif;
    font-size: 12px;

}

.fontsize-1 {
    font-size: 16px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    /* padding: 20px; */
    padding-bottom: 0;
}
.progress-step {
    flex: 1;
    min-width: 0;
}
.step-label {
    font-size: 12px;
    margin-bottom: 8px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.progress-bar-wrapper {
    height: 15px;
    background-color: #E9ECEF;
    border-radius: 4px;
    overflow: hidden;
}
.progress-bar {
    height: 100%;
    transition: width 0.3s ease;
}
.progress-bar.active {
    background-color: #714B67;
    width:100%;
}
.progress-bar.inactive {
    width:0%;

}









.img-dropdown {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


/* .form-select,
.form-control {
    border-color: #e0e0e0;
} */

.doctor-select {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
}

.doctor-option {
    text-align: center !important;
    margin-left: 25px;
    margin-bottom: 15px;
}

.doctor-image {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

/* .btn-next {
    background-color: #51A6CA;
    border-color: #51A6CA;
} */

.selected-image {
    align-items: center;
    display: flex;
    margin-left: 5px;
}

.customdate {}

.txt-btn{
    font-size: 18px;
}

